<% include partials/header %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Tweet!</h1>
             <p>View our hand-picked Tweets from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/tweets/new">Add New Tweet</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% tweets.forEach(function(tweet){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <h5><%= tweet.str %></h5>
                   <div class="caption">
                       <h4><%= tweet.name %></h4>
                   </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>